*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
    background-color: aliceblue;
}

.General{
    height: 97%;
    width: 97%;
    margin: auto;
}
.TituloSerie{
    background-color: dodgerblue;
    width: 100%;
    height: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}
.ContenidoSerie{
    background-color: blue;
    width: 100%;
    height: 90%;
    min-height: 100px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}
.DivCanvasSerie{
    height: 50%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: deepskyblue;
}
#CanvasSerie{
    height: 98%;
    width: 98%;
    border: solid 2px darkorange;
}
.DivCalculosSerie{
    height: 50%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 0.5%;
    background-color: darkslateblue;
}
.ValResist{

    width: 35%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    /*background-color: red;*/
}
button{
    width: 40px;
    height: 15px;
    margin-left: auto;
    margin-right: 1%;
}

.FemCorrientes{
    width: 50%;
    height: 90%;
    background-color: orange;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.DivFem{
    width: 30%;
    height: 90%;
}
.DivCorrientes{
    float: right;
    width: 50%;
    height: 90%;
}
