@import url(fuentes.css);
*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
    background-color: aliceblue;
}
a {
    text-decoration: none;
    color: #1e5799;
    font-family: gelbertreg;
    font-size: 20px;
    padding: 8px;
}
a:hover {text-decoration: underline;}
ul li a:hover{
    color: #fff;
    background: #1798af;
    text-decoration: none;
}

.General{
    height: 97%;
    width: 97%;
    margin: auto;
}
.TituloSerie{
    /*background-color: lightskyblue;*/
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 14%, #2989d8 14%, #207cca 25%, #207cca 30%, #1e5799 55%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 14%,#2989d8 14%,#207cca 25%,#207cca 30%,#1e5799 55%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 14%,#2989d8 14%,#207cca 25%,#207cca 30%,#1e5799 55%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    width: 100%;
    height: 10%;
    padding-top:2%;
    padding-bottom:2%;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px darkorange;
    border-radius: 20px;
    margin-top: 20px;
    font-family: gelbertreg;
    font-size: 20px;
}
.ContenidoSerie{
    background-color: aliceblue;
    width: 100%;
    height: 90%;
    min-height: 100px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}
.DivCanvasSerie{
    height: 50%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: deepskyblue;
    border: solid 2px darkorange;
    border-radius: 20px;
}
#CanvasSerie{
    height: 98%;
    width: 98%;
    margin-top: auto;
    margin-bottom: auto;
    border: solid 2px black;
}

.DivCalculosSerie{
    height: 50%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 0.5%;
    padding-bottom: 0.6%;
    background-color: lightskyblue;
    border: solid 2px darkorange;
    border-radius: 20px;
}

.ValResist{
    float: initial;
    width: 35%;
    height: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: red;*/
    display: inline-block;
}

.ValResist > select{
    border-radius: 5px;
    font-weight: bold;
}

.ValResist > button{
    border-radius: 5px;
    width: 28px;
    height: 23px;
    font-weight: bold;
}

.ValResist > input{
    border-radius: 5px;
    height: 20px;
}

button{
    width: 40px;
    height: 15px;
    margin-left: auto;
    margin-right: 1%;
}

.FemCorrientes{
    width: 50%;
    height: 90%;
    /*margin-top: 1%;*/
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.DivFem{
    padding: 0.5%;
    width: 30%;
    height: 90%;
    display: inline-block;
    font-family: Arial, cursive;
}

.DivCorrientes{
    display: inline-block;
    width: 50%;
    height: 90%;
    border-radius: 5px;
}

#buttonMas{
    width: 90px;
    height: 35px;
    margin-bottom: 1%;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
}

#buttonMenos{
    width: 90px;
    height: 35px;
    margin-top: 1%;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

#buttonMenos{
    width: 90px;
    height: 35px;
    margin-top: 1%;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

#valfem1{
    width: 55px;
    height: 20px;
    border-radius: 5px;
}

#valfem1{
    width: 55px;
    height: 20px;
    border-radius: 5px;
}

#Req{
    width: 65px;
    height: 20px;
    border-radius: 5px;
}

#supra{
    font-family: Tahoma, cursive;
    font-weight: bold;
}

#unidadOhm{
    width: 25px;
    height: 20px;
    font-weight: bold;
}

#unidadV{
    width: 25px;
    height: 20px;
    font-weight: bold;
}

.DivCorrientes > p > button{
    border-radius: 5px;
    width: 28px;
    height: 23px;
    font-weight: bold;
}

.DivCorrientes > p > input{
    border-radius: 5px;
    height: 20px;
}

#femTitulo{
    font-family: Tahoma, cursive;
    font-size: 20px;
}