*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
    background-color: aliceblue;
}

.General{
    height: 97%;
    width: 97%;
    margin: auto;
}
.TituloSerie{
    background-color: lightskyblue;
    width: 100%;
    height: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px darkorange;
    border-radius: 20px;
    margin-top: 20px;
}
.ContenidoSerie{
    background-color: aliceblue;
    width: 100%;
    height: 90%;
    min-height: 100px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}
.DivCanvasSerie{
    height: 50%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: deepskyblue;
    border: solid 2px darkorange;
    border-radius: 20px;
}
#CanvasSerie{
    height: 98%;
    width: 98%;
    /*max-height: 450px;*/
    /*min-height: 300px;*/
    margin-top: auto;
    margin-bottom: auto;
    border: solid 2px black;
}
.DivCalculosSerie{
    height: 50%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 0.5%;
    padding-bottom: 1.5%;
    background-color: lightskyblue;
    border: solid 2px darkorange;
    border-radius: 20px;
}
.ValResist{

    width: 35%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    /*background-color: red;*/
    display: inline-block;
}
button{
    width: 40px;
    height: 18px;
    margin-left: auto;
    margin-right: 1%;
}

.FemCorrientes{
    width: 50%;
    height: 90%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.DivFem{
    width: 30%;
    height: 90%;
    display: inline-block;
}
.DivCorrientes{
    display: inline-block;
    width: 50%;
    height: 90%;
}
