*{
    margin: 0px;
    padding: 0px;
}

body{
    text-align: center;
    /*background-color: cornflowerblue;*/
}
.general{
    margin: auto;
    /*height: 816px;
    width: 1440px;
    /*padding: 20px;*/
    height: 100%;
    width: 97.2%;
    padding: 2.451% 1.388%;
    background-color: mediumvioletred;
}
.Titulo{
    float: right;
    padding: 1.225% 0.694%;
    height: 3.86%;
    width: 77%;
    background-color: aliceblue;
}
.Intro{
    margin-top: 1.225%;
    padding: 1.225% 0.694%;
    float: right;
    width: 77%;
    background-color: orangered;
}
.Selecciones{
    alignment: center;
    width: 21%;
    height: 96.6%;
    background-color: dodgerblue;
}
.Selecciones > button{
    display: list-item;
    background-color: lightskyblue;
    font-size: large;
    padding: 2% 1%;
    margin: 2%;
    border: 2px solid orange;
    border-radius: 20px;
    width: 90%;
}




/*
.Titulo{
    padding: 20px 20%;
    margin: 30px;
    border: 2px solid darkblue;
    border-radius: 20px;
    background-color: dodgerblue;
}

.Cuerpo{
    border: 2px solid darkblue;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    margin: 30px;
    white-space: nowrap;
    overflow: ;
    width: available;
}
.Selecciones{
    align-content: center;
    display: inline-list-item;
    width: 10%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    margin: 30px;
    border: 2px solid red;
    border-radius: 20px;
    background-color: dodgerblue;
}
.Intro{
    display: inline-block;
    width: fit-content;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2%;
    padding-right: 2%;
    margin: 30px;
    border: 2px solid red;
    border-radius: 20px;
    background-color: dodgerblue;
}
.Selecciones > button{
    display: list-item;
    background-color: lightskyblue;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    margin: 5px;
    border: 2px solid orange;
    border-radius: 20px;
    width: 200px;
}
button{
    /*background-color: lightskyblue;
}*/