body{
    text-align: center;
    background-color: cornflowerblue;
}
.Titulo{
    padding: 20px 20%;
    margin: 30px;
    border: 2px solid darkblue;
    border-radius: 20px;
    background-color: dodgerblue;
}

.Cuerpo{
    border: 2px solid darkblue;
    border-radius: 20px;
    padding: 10px 5%;
    margin: 30px;
    white-space: nowrap;
    overflow: scroll;
}
.Selecciones{
    display: inline-block;
    width: 10%;
    float: left;
    padding: 10px 5%;
    margin: 30px;
    border: 2px solid darkblue;
    border-radius: 20px;
    background-color: dodgerblue;
}
.Intro{
    display: inline-block;
    text-align: justify;
    padding: 20px 2%;
    margin: 30px;
    border: 2px solid darkblue;
    border-radius: 20px;
    background-color: dodgerblue;
}
.Selecciones > button{
    display: list-item;
    background-color: lightskyblue;
    font-size: large;
    padding: 10px 5%;
    margin: 5px;
    border: 2px solid orange;
    border-radius: 20px;
}
button{
    /*background-color: lightskyblue;*/
}

.Op1{
}
.Op2{
}
.Op4{
}
.Op3{
}