*{
    margin: 0px;
    padding: 0px;
}

body{
    text-align: center;
    /*background-color: cornflowerblue;*/
}
.general{
    margin: auto;
    /*height: 816px;
    width: 1440px;
    /*padding: 20px;*/
    height: 100%;
    width: 97.2%;
    min-height: 720px;
    min-width: 1280px;
    padding: 2.451% 1.388%;
    background-color: aliceblue;
}
.Titulo{
    float: right;
    padding: 1.225% 0.694%;
    height: 3.86%;
    width: 77%;
    min-height: 50px;
    background-color: cornflowerblue;
    border: 2px solid orange;
    border-radius: 20px;
}
.Intro{
    margin-top: 1%;
    padding: 1.225% 0.694%;
    float: right;
    width: 77%;
    height: 100%;
    min-height: 400px;
    background-color: cornflowerblue;
    border: 2px solid orange;
    border-radius: 20px;
}
.DivIzq{
    width: 21%;
    height: 100%;
    min-height: 700px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 0%;
    background-color: cornflowerblue;
    border: 2px solid orange;
    border-radius: 20px;
    vert-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Selecciones{
    width: 98%;
    height: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: cornflowerblue;

}
button.Op4{
}
.Selecciones > button{
    display: list-item;
    background-color: lightskyblue;
    font-size: large;
    padding: 3% 1%;
    margin: 3% 5%;
    border: 2px solid orange;
    border-radius: 20px;
    width: 90%;
    height: 150%;
}